* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}

body{
    position: relative;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 113px;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    background-color: white;
    box-shadow: 01px 0px 3px 0px rgba(0,0,0,0.2);
}

#social-network-input:checked ~ .shadow, #social-network-input:checked ~ .alert-windown{
    z-index: 1;
}

.shadow{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}


.alert-windown{
    position: fixed;
    width: calc(0.6 * 100vw);
    height: 80px;
    border-radius: 10px;
    background-color: #ff6b6bff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
    color: #fff;
    line-height: 30px;
}

.alert-windown > h3{
    position: relative;
    width: 100%;
}

.close-icon{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    background-image: url('../assets/img/cruzar.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.close-icon:hover{
    transform: scale(1.3);
}

a {
    display: inline-block;
    color: black;
}

.a {
    display: inline-block;
    color: black;
    cursor: pointer;
    margin-right: 15px;
}

.social-network  {
    background: #48cfadff;
    display: grid;
}

.social-network__div-icons{
    width: 280px;
    display: flex;
    justify-content: space-between;
    justify-self: end;
    margin: 9px 10px 9px 0px;
}

.icon_ {
    display: block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-network__div-icons .icon--face {
    background-image: url('../assets/img/facebook.png');
    color: white;
}

.social-network__div-icons .icon--twi {
    background-image: url('../assets/img/twitter.png');
}

.social-network__div-icons .icon--ins {
    background-image: url('../assets/img/instagram.png');
}

.social-network__div-icons .icon--linke {
    background-image: url('../assets/img/linkedin.png');
}

.social-network__div-icons .icon--you {
    background-image: url('../assets/img/youtube.png');
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.nav__profile-link {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration:line-through;
    margin-right: 35px;
}

.home-main {
    width: 100%;
    height: calc(100vh - 113px); /* esta parte de aqui la esta cagando */
    background-image: url('../assets/img/Cover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px;
}

.home-main h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    text-align: center;
    color: white;
    letter-spacing: 10px;
    font-size: 2.7rem;
}

.home-main a {
    width: 110px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    background-color: #48cfadff;
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

.home-main a:hover {
    background-color: #47cfac;
    transform: scale(1.1);
}

.home-main a:active {
    background-color: #47cfac;
    transform: scale(1.0);
}

.main__1section{
    width: 100%;
    min-width: 320px;
    padding: 30px 5%;
    background-color: #e6e9edff;
}

.section-title{
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.main__1section__main-article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 60px;

}

.main__1section__main-article h2{
    font-size: 2.2rem;
    margin: 10px 0;
}

.parrafito {
    font-size: 1.6rem;
    margin: 15px 0;
}


.button-redmore {
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.418);
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
    text-decoration: none;
    font-size: 1.2rem;
}

.section-title--2section{
    text-align: center;
    padding-top: 20px;
}

.main-posts-container{
    display: grid;
    padding: 0 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}



.main-blog {
    padding: 0 60px;
}

.first-section{
    padding-top: 30px;
    min-width: 320px;
}

.noticias-title {
    font-size: 2.5rem;
    padding-left: 90px;
    margin: 40px 0 20px;
}

.main-text-container {
    padding: 20px 90px 20px;
}

.main-blog-title {
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.parrafote {
    font-size: 2rem;
}

.contact-section {
    background-color: #e6e9edff ;
    display: grid;
    padding: 20px 70px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 30px;
}

.contact-minicontainer {
    justify-self: start;
    margin: 50px 0 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact-minicontainer__text{
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-header-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    place-items: center;
    gap: 30px;
    padding: 50px 20px;
    background-color: #e6e9edff;
}

.profile-header-section__text{
    /* width: 50%; */
    align-self: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.profile-header-section__text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}


.projects-section {
    padding: 0 150px;
    margin: 0px 0px 0px;
    padding-bottom: 50px;
}

.projects-section-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(fit-content, 1fr));
    gap: 50px;
    font-size: 2rem;
}

.second-section > hr {
    display: block;
    width: 85%; 
    margin-left: 80px;
    opacity: 0.7;
}

@media screen and (max-width: 800px){

    .main__1section{
        min-width: 320px;
    }

    .main__1section__main-article{
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
    }

    .main-posts-container{
        padding: 0 15px;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-auto-flow: row;
        gap: 20px;
    }

    .main-text-container {
        padding: 20px 20px 20px;
    }

    .noticias-title {
        font-size: 2.5rem;
        padding-left: 0px;
        margin: 40px 0 20px;
    }

    .second-section > hr {
        margin-left: 0px;
        padding: 0 10px;
    }

}


@media screen and (max-width: 500px){

    .main__1section__main-article{
        gap: 15px;
    }

    .main__1section__main-article h2{
        font-size: 1.8rem;
    }
    
    .parrafito {
        font-size: 1.4rem;
    }

    header {
        /* height: 20vh; */
        max-height: 113px;
    }

    .home-main {
        height: calc(100vh - 113px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__profile-link{
        display: none;
        width: fit-content;
    }

    .nav__logo{
        margin: 0 auto;
    }

    .social-network{
        display: flex;
        justify-content: center !important;
    }

    .social-network__div-icons{
        justify-content: space-around;
        width: 100%;
        margin: 9px 0;
        /* justify-self: center; */
        /* margin-right: 0; */
    }

    .main-blog {
        padding: 0 0px;
    }

    .contact-section{
        padding: 0 10px;
        gap: 10px;
    }

    .first-section{
        padding: 0 10px;
    }

    .second-section > h3{
        padding-left: 20px;
        font-size: 1.8rem;
    }
    
    .second-section > hr{
        margin-left: 20px;
    }
    
    .main-text-container > h2 {
        font-size: 2.2rem;
        margin-bottom: 20px;
    }

    .parrafote{
        font-size: 1.6rem;
    }

    .contact-minicontainer{
        justify-content: center;
    }

    .projects-section {
        padding: 0 30px;
        margin: 0px 0px 0px;
        padding-bottom: 50px;
    }

    .profile-header-section__text{
        font-size: 1.4rem;
        padding-bottom: 10px;
    }
    
    .profile-header-section__text h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .projects-section-container p {
        font-size: 1.4rem;
    }
}