* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 113px;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    background-color: white;
}

a {
    display: inline-block;
    color: black;
}

.social-network  {
    background: #48cfadff;
    display: grid;
}

.social-network__div-icons{
    width: 280px;
    display: flex;
    justify-content: space-between;
    justify-self: end;
    margin: 9px 25px 9px 0px;
}

.icon_ {
    display: block;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-network__div-icons .icon--face {
    background-image: url('../assets/img/facebook.png');
    color: white;
}

.social-network__div-icons .icon--twi {
    background-image: url('../assets/img/twitter.png');
}

.social-network__div-icons .icon--ins {
    background-image: url('../assets/img/instagram.png');
}

.social-network__div-icons .icon--linke {
    background-image: url('../assets/img/linkedin.png');
}

.social-network__div-icons .icon--you {
    background-image: url('../assets/img/youtube.png');
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.nav__profile-link {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration:line-through;
    margin-right: 35px;
}

.home-main {
    width: 100%;
    height: calc(100vh - 113px); /* esta parte de aqui la esta cagando */
    background-image: url('../assets/img/Cover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px;
}

.home-main h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    text-align: center;
    color: white;
    letter-spacing: 10px;
    font-size: 2.7rem;
}

.home-main a {
    width: 110px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    background-color: #48cfadff;
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

.home-main a:hover {
    background-color: #47cfac;
    transform: scale(1.1);
}

.home-main a:active {
    background-color: #47cfac;
    transform: scale(1.0);
}

.main__1section{
    min-width: 320px;
    display: block;
    padding: 30px 70px;
    background-color: #e6e9edff;
}

.section-title{
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.main__1section__main-article{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 60px;

}

.main__1section__main-article h2{
    font-size: 2.2rem;
    margin: 10px 0;
}

.parrafito {
    font-size: 1.6rem;
    margin: 15px 0;
}


.button-redmore {
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.418);
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
    text-decoration: none;
    font-size: 1.2rem;
}

.section-title--2section{
    text-align: center;
    margin-top: 20px;
}

.main-posts-container{
    display: grid;
    padding: 0 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}



.main-blog {
    padding: 0 60px;
}

.first-section{
    min-width: 375px;
}

.noticias-title {
    font-size: 2.5rem;
    padding-left: 90px;
    margin: 40px 0 20px;
}

.main-text-container {
    padding: 20px 90px 20px;
}

.main-blog-title {
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.parrafote {
    font-size: 2rem;
}

.contact-section {
    background-color: #e6e9edff ;
    display: grid;
    padding: 0 70px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 30px;
    margin-top: 20px;
}

.contact-minicontainer {
    justify-self: start;
    margin: 50px 0 90px;
    display: flex;
    align-items: center;
}

.contact-minicontainer__text{
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-header-section {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    padding: 50px 200px;
    background-color: #e6e9edff;
}

.profile-header-section__text{
    align-self: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.profile-header-section__text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}


.projects-section {
    padding: 0 150px;
    margin: 0 0 50px;
}

.projects-section-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    font-size: 2rem;
}

@media screen and (max-width: 800px){

    .main__1section{
        min-width: 320px;
        padding: 30px 0px;
    }

    .main__1section__main-article{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .main-posts-container{
        padding: 0 0px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-auto-flow: row;
        /* grid-template-rows: repeat(2, 1fr); */
        gap: 20px;
    }
}


@media screen and (max-width: 500px){

    header {
        /* height: 20vh; */
        max-height: 113px;
    }

    .home-main {
        height: calc(100vh - 113px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__profile-link{
        display: none;
        width: fit-content;
    }

    .nav__logo{
        margin: 0 auto;
    }

    .social-network__div-icons{
        justify-self: center;
        margin-right: 0;
    }
}